<!--Hier habe ich den HTML-Code geschrieben, um die Seite Delete Account anzuzeigen -->
{% extends 'base.html' %}

{% block HEADER %}
	<h2 >{% block TITLE %}Delete Account{% endblock %}</h2>
{% endblock %}



{% block CONTENT %}

 <p>Are you sure you want to delete this account?</p>

<div class="account-delete-form">


<a href="{{url_for('todos')}}"><button class="btn btn-primary m-3">Back to Todos</button></a> 


<form method="POST" action="/delete" class="row row-cols-auto g-2 pt-3 mx-auto">
     {{ form.csrf_token }} 
    <button type="submit" class="btn btn-danger m-3">Delete Account</button>
    
</form>
 
</div>


{% endblock %}


 

