<!--Hier habe ich den HTML-Code geschrieben, um die Registrierungs-Seite anzuzeigen -->
<!DOCTYPE html>
<html lang=en>

<head>
  <style>
    .form-container {
      margin-bottom: 20px; 
    }
  </style>
</head>
<body>
  {% extends 'base.html' %}

  {% block HEADER %}
    <h2>{% block TITLE %}Register{% endblock %}</h2>
  {% endblock %}

  {% block CONTENT %}
    <div class="form-container">
      <form method="POST" action="{{ url_for('register') }}" class="row row-cols-auto g-2 pt-3">
        {{ form.csrf_token }}
        <div class="col"> {{ form.username(class='form-control') }}</div>
        <div class="col"> {{ form.password(class='form-control') }}</div>
        <div class="col">{{ form.submit(class='btn btn-primary') }}</div>
      </form>
    </div>

    <a href="{{url_for('login')}}">Do you already have an account? Click here</a>
  {% endblock %}
</body>
</html>



